<div class="heading-image">
    <img src="~/Photos/wide-panoramic-view-of-mountains-during-twilight-sky.png" width="100%">
    <div class="description">MINIGAMES</div>
</div>
<div class="minigameIn">
<a class="minigameBtn" asp-controller="Minigames" asp-action="minigame1">Minigame #1</a>
<a class="minigameBtn" asp-controller="Minigames" asp-action="minigame2">Minigame #2</a>
<a class="minigameBtn" asp-controller="Minigames" asp-action="minigame3">Minigame #3</a>
<a class="minigameBtn" asp-controller="Minigames" asp-action="minigame4">Minigame #4</a>
<a class="minigameBtn" asp-controller="Minigames" asp-action="minigame5">Minigame #5</a>
</div>
@section Styles {

    <link rel="stylesheet" href="~/css/minigames.css" />

}
