<div class="heading-image">
    <img src="~/Photos/wide-panoramic-view-of-mountains-during-twilight-sky.png" width="100%">
    <div class="description">TECHNOLOGY IN UVOYAGE</div>
</div>
<div class="techIntroContainer">
<div class="techIntro">
    <img src="~/Photos/wide-panoramic-view-of-mountains-during-twilight-sky.png" />
    <h1>We Are UVoyage</h1>
        <p>so sigma sigma sigma sigma sigma sigma sigma sigma sigma!!</p>
</div>
</div>
<div class="oneTech">
    <img src="~/Photos/wide-panoramic-view-of-mountains-during-twilight-sky.png" />
    <div class="oneTechText">
    <h1>Procreate</h1>
    <p>Used for character illustration and special effects.</p>
    <a asp-controller="Technology" asp-action="Procreate">Learn More</a>
    </div>
</div>
<div class="oneTech">
    <img src="~/Photos/wide-panoramic-view-of-mountains-during-twilight-sky.png" />
    <div class="oneTechText">

    <h1>Blender3D</h1>
    <p>The key to our backgrounds and 3D models.</p>
    <a asp-controller="Technology" asp-action="Blender3D">Learn More</a>
    </div>
</div>
<div class="oneTech">
    <img src="~/Photos/wide-panoramic-view-of-mountains-during-twilight-sky.png" />
    <div class="oneTechText">

    <h1>Visual Studio Code</h1>
    <p>This website was created with VS Code, a frontend development application. The languages used are as follows: HTML, Javascript, and CSS.</p>
    <a asp-controller="Technology" asp-action="visualStudio">Learn More</a>
    </div>
</div>
<div class="oneTech">
    <img src="~/Photos/wide-panoramic-view-of-mountains-during-twilight-sky.png" />
            <div class="oneTechText">

    <h1>FL Studio</h1>
    <p>Sound effects and music are formed through this one resource.</p>
    <a asp-controller="Technology" asp-action="fl">Learn More</a>
    </div>
</div>
@section Styles {

    <link rel="stylesheet" href="~/css/technology.css" />

}