@section Styles {

    <link rel="stylesheet" href="~/css/ourTeam.css" />

}
<div class="heading-image">
    <img src="~/Photos/wide-panoramic-view-of-mountains-during-twilight-sky.png" width="100%">
    <div class="description">
        OUR TEAMS
    </div>
</div>

