@section Styles {

    <link rel="stylesheet" href="~/css/ourTeams.css" />

}
<div class="heading-image">
    <img src="~/Photos/wide-panoramic-view-of-mountains-during-twilight-sky.png" width="100%">
    <div class="description">
        OUR TEAMS
    </div>
</div>

<div class="subpages">
    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>Storyboarding Team</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, esse. Consequuntur nisi, eius esse labore, quod, error ratione culpa consectetur hic provident distinctio? Sed impedit consequuntur possimus rerum veniam quos.</p>
        </div>
    </div>
    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>Art Team</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, esse. Consequuntur nisi, eius esse labore, quod, error ratione culpa consectetur hic provident distinctio? Sed impedit consequuntur possimus rerum veniam quos.</p>
        </div>
    </div>
    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>Sound Team</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, esse. Consequuntur nisi, eius esse labore, quod, error ratione culpa consectetur hic provident distinctio? Sed impedit consequuntur possimus rerum veniam quos.</p>
        </div>
    </div>
    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>Web Team</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, esse. Consequuntur nisi, eius esse labore, quod, error ratione culpa consectetur hic provident distinctio? Sed impedit consequuntur possimus rerum veniam quos.</p>
        </div>
    </div>
