<div class="heading-image">
    <img src="~/Photos/wide-panoramic-view-of-mountains-during-twilight-sky.png" width="100%">
    <div class="description">
        UVOYAGE
    </div>
</div>
<div class="upper-section">
    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>Ivory Qi</h1>
            <p class="team-role">Team Role</p>
        </div>
    </div>
    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>Mr. Sheehan</h1>
            <p class="team-role">Team Role</p>
        </div>
    </div>
</div>
<div class="lower-section">

    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1><b>Mr. Sheehan</b> - Team Role</h1>
        </div>
    </div>

    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1><b>Mr. Sheehan</b> - Team Role</h1>
        </div>
    </div>

    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1><b>Mr. Sheehan</b> - Team Role</h1>
        </div>
    </div>

    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1><b>Mr. Sheehan</b> - Team Role</h1>
        </div>
    </div>

    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1><b>Mr. Sheehan</b> - Team Role</h1>
        </div>
    </div>

    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1><b>Mr. Sheehan</b> - Team Role</h1>
        </div>
    </div>

</div>
@section Styles {

    <link rel="stylesheet" href="~/css/ourTeam.css" />

}