hr {
    font-size: 50px;
    border: none;
    border-top: 5px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .input-section

{
    margin-top: .5vw;
    margin-bottom: .5vw;
    input, button

{
    width: 15vw;
    height: 2vw;
    font-size: 1vw;
}

textarea {
    width: 15vw;
    height: 5vw;
    font-size: 1vw;
}

}
}

.email-form {
    margin: auto;
}

.wrapper {
    margin:auto;
    width: 35vw;
    overflow: hidden; 
}

.first {
    width: 300px;
    float: left;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.second {
    overflow: hidden;
    margin-right: 0px;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    float:right;
}

select{
    width: 35vw;
}