.techIntro img {
    border-radius: 50px;
    display: inline-block;
}
.techIntro {
    text-align: center;
    display: inline-block;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}
.techIntroContainer {
    text-align: center;
    margin:5vw 0;
}
.techIntro h1 {
    display: inline-block;
    margin-left: 4vw;
    float:left;
    margin-top:50px;
}
.techIntro p {
    display: inline-block;
    float:right;
    margin-right:4vw;
    width:15vw;
    text-align:left;
}

.oneTech{
    background-color:whitesmoke;
    padding:3vw 0;
    margin-bottom:1vw;
    display:inline-block;
    width:100%;
}
.oneTechText p{
    margin-bottom:35px;
}
.oneTech a{
    padding:10px 10px;
    background-color:black;
    color:white;
    font-weight:bold;
}
.oneTech img{
    display:inline-block;
    float:left;
    margin-left:10vw;
    width:calc(100vw/3);
    height:calc(100vw/6);
    border-radius:1vw;
}
.oneTechText{
    float:right;
    display:inline-block;
    margin-right:10vw;
    width:20vw;
}
.subpage2 img{
    margin-left:0px;
}
.subpage {
    margin-top: 10em;
    margin-bottom: 10em;
    display: flex;
    img

{
    margin-left: 7.5vw;
    height: 30vw;
    width: 50vw;
    border-radius: 3em;
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    p

{
    margin-left: 1vw;
    width: 33vw;
}

h1 {
    margin-bottom: 0em;
    margin-left: 1vw;
    font-size: 40px;
    font-weight: normal;
}

.redirect {
    align-self: flex-end;
    font-size: 1.25vw;
    margin-left: 1vw;
    width: 12vw;
    height: 3vw;
}

}
}

.subpage2 {
    margin-top: 10em;
    margin-bottom: 10em;
    display: flex;
    img

{
    margin-right: 5vw;
    height: 30vw;
    width: 50vw;
    border-radius: 3em;
}

.description {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    p

{
    margin-left: 5vw;
    width: 25vw;
    align-self: center;
}

h1 {
    margin-left: 5vw;
    margin-bottom: 0em;
    font-size: 40px;
    font-weight: normal;
}

h2 {
    margin-left: 5vw;
}

}
}


.heading-image {
    img

{
    border-bottom-right-radius: 50% 10%;
    border-bottom-left-radius: 50% 10%;
    margin-bottom: 30px;
    width: 100%;
}

.description {
    color: white;
    position: absolute;
    margin-top: -15%;
    font-size: 5vw;
}


.heading {
    width: 100%;
}
