<div class="heading-image">
    <img src="~/Photos/051e8afd49caeaf59ca4b4b1574f71dc.jpg">
    <div class="description">
    FILMS
    </div>
</div>
<div class="allFilms">
    <div class="oneFilm">
        <img class="filmImg"src="~/Photos/051e8afd49caeaf59ca4b4b1574f71dc.jpg" />
        <a asp-controller="Films" asp-action="inspiredToLearn">Be Inspired to Learn</a>

    </div>
    <div class="oneFilm">
        <img class="filmImg" src="~/Photos/051e8afd49caeaf59ca4b4b1574f71dc.jpg" />
        <a asp-controller="Films" asp-action="succeedInLife">Succeed In Life</a>
        </div>
    <div class="oneFilm">
        <img class="filmImg" src="~/Photos/051e8afd49caeaf59ca4b4b1574f71dc.jpg" />
        <a asp-controller="Films" asp-action="contributeToSociety">Contribute to Society</a>
    </div>
    <div class="oneFilm">
        <img class="filmImg" src="~/Photos/051e8afd49caeaf59ca4b4b1574f71dc.jpg" />
        <a asp-controller="Films" asp-action="takeCareOfYourself">Take Care of Yourself</a>
    </div>
    <div class="oneFilm">
        <img class="filmImg" src="~/Photos/051e8afd49caeaf59ca4b4b1574f71dc.jpg" />
        <a asp-controller="Films" asp-action="buildYourCharacter">Build Your Character</a>
    </div>
</div>

@section Styles {

    <link rel="stylesheet" href="~/css/films.css" />

}