<div class="heading-image">
    <img src="~/Photos/051e8afd49caeaf59ca4b4b1574f71dc.jpg">
    <div class="description">
        SUCCEED IN LIFE
    </div>
</div>
<div class="subpage">
    <div class="description">
        <h1>Be Inspired To Learn</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, esse. Consequuntur nisi, eius esse labore, quod, error ratione culpa consectetur hic provident distinctio? Sed impedit consequuntur possimus rerum veniam quos.</p>
    </div>
    <img src="~/Photos/IMG_1193.jpg">
</div>
@section Styles {

    <link rel="stylesheet" href="~/css/films.css" />

}