<div class="heading-image">
    <img src="~/Photos/wide-panoramic-view-of-mountains-during-twilight-sky.png" width="100%">
    <div class="description">
        UVOYAGE
    </div>
</div>
<div class="student-divider">
    <hr />
</div>
<div class="student-section">
    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>Mr. Sheehan</h1>
            <p class="email">email@email.com</p>
        </div>
    </div>

    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>Mr. Sheehan</h1>
            <p class="email">email@email.com</p>
        </div>
    </div>

    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>Mr. Sheehan</h1>
            <p class="email">email@email.com</p>
        </div>
    </div>

    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>Mr. Sheehan</h1>
            <p class="email">email@email.com</p>
        </div>
    </div>

    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>Mr. Sheehan</h1>
            <p class="email">email@email.com</p>
        </div>
    </div>

</div>
<div class="teacher-divider">
    <hr />
</div>

<div class="teacher-section">
    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>Mr. Sheehan</h1>
            <p class="email">email@email.com</p>
        </div>
    </div>

    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>Mr. Sheehan</h1>
            <p class="email">email@email.com</p>
        </div>
    </div>

    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>Mr. Sheehan</h1>
            <p class="email">email@email.com</p>
        </div>
    </div>

    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>>Mr. Sheehan</h1>
            <p class="email">email@email.com</p>
        </div>
    </div>

    <div class="subpage">
        <img src="~/Photos/IMG_1193.jpg">
        <div class="description">
            <h1>Mr. Sheehan</h1>
            <p class="email">email@email.com</p>
        </div>
    </div>
</div>
@section Styles {

    <link rel="stylesheet" href="~/css/contactUs.css" />

}